anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.9.1
asttokens==3.0.1
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.14.3
bleach==6.3.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.3.1
defusedxml==0.7.1
dj-database-url==3.0.1
Django==5.2.4
django-render-partial==0.4
executing==2.2.1
fastjsonschema==2.21.2
fqdn==1.5.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.17
ipykernel==7.2.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.20.0
Jinja2==3.1.6
json5==0.14.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.18.2
jupyter_server_terminals==0.5.4
jupyterlab==4.5.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
lark==1.3.1
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
mistune==3.2.1
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.6
notebook_shim==0.2.4
npm==0.1.1
numpy @ file:///C:/Users/zizi/Downloads/numpy-2.4.3_%5Bicodeacademy.ir%5D/numpy-2.4.3_%5Bicodeacademy.ir%5D/numpy-2.4.3-cp313-cp313-win_amd64.whl#sha256=0a60e17a14d640f49146cb38e3f105f571318db7826d9b6fef7e4dce758faecd
optional-django==0.1.0
packaging==25.0
pandocfilters==1.5.1
parso==0.8.7
pillow==11.3.0
platformdirs==4.10.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==4.1.0
pywinpty==3.0.3
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.34.2
rfc3339-validator @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/rfc3339_validator-0.1.4-py2.py3-none-any.whl#sha256=24f6ec1eda14ef823da9e36ec7113124b39c04d50a4d3d3a3c2859577e7791fa
rfc3986-validator @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/rfc3986_validator-0.1.1-py2.py3-none-any.whl#sha256=2f235c432ef459970b4306369336b9d5dbdda31b510ca1e327636e01f528bfa9
rfc3987-syntax==1.1.0
rpds-py @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/rpds_py-0.30.0-cp313-cp313-win_amd64.whl#sha256=806f36b1b605e2d6a72716f321f20036b9489d29c51c91f4dd29a3e3afb73b15
Send2Trash @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/send2trash-2.1.0-py3-none-any.whl#sha256=0da2f112e6d6bb22de6aa6daa7e144831a4febf2a87261451c4ad849fe9a873c
setuptools @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/setuptools-82.0.1-py3-none-any.whl#sha256=a59e362652f08dcd477c78bb6e7bd9d80a7995bc73ce773050228a348ce2e5bb
six @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/six-1.17.0-py2.py3-none-any.whl#sha256=4721f391ed90541fddacab5acf947aa0d3dc7d27b2e1e8eda2be8970586c3274
soupsieve @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/soupsieve-2.8.3-py3-none-any.whl#sha256=ed64f2ba4eebeab06cc4962affce381647455978ffc1e36bb79a545b91f45a95
sqlparse==0.5.3
stack-data==0.6.3
terminado==0.18.1
tinycss2 @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/tinycss2-1.4.0-py3-none-any.whl#sha256=3a49cf47b7675da0b15d0c6e1df8df4ebd96e9394bb905a5775adb0d884c5289
tornado @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/tornado-6.5.5-cp39-abi3-win_amd64.whl#sha256=6443a794ba961a9f619b1ae926a2e900ac20c34483eea67be4ed8f1e58d3ef7b
traitlets @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/traitlets-5.14.3-py3-none-any.whl#sha256=b74e89e397b1ed28cc831db7aea759ba6640cb3de13090ca145426688ff1ac4f
typing_extensions @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/typing_extensions-4.15.0-py3-none-any.whl#sha256=f0fa19c6845758ab08074a0cfa8b7aecb71c999ca73d62883bc25cc018c4e548
tzdata @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/tzdata-2025.3-py2.py3-none-any.whl#sha256=06a47e5700f3081aab02b2e513160914ff0694bce9947d6b76ebd6bf57cfc5d1
uri-template @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/uri_template-1.3.0-py3-none-any.whl#sha256=a44a133ea12d44a0c0f06d7d42a52d71282e77e2f937d8abd5655b8d56fc1363
urllib3 @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/urllib3-2.6.3-py3-none-any.whl#sha256=bf272323e553dfb2e87d9bfd225ca7b0f467b919d7bbd355436d3fd37cb0acd4
wcwidth @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/wcwidth-0.6.0-py3-none-any.whl#sha256=1a3a1e510b553315f8e146c54764f4fb6264ffad731b3d78088cdb1478ffbdad
webcolors @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/webcolors-25.10.0-py3-none-any.whl#sha256=032c727334856fc0b968f63daa252a1ac93d33db2f5267756623c210e57a4f1d
webencodings @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/webencodings-0.5.1-py2.py3-none-any.whl#sha256=a0af1213f3c2226497a97e2b3aa01a7e4bee4f403f95be16fc9acd2947514a78
websocket-client @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/websocket_client-1.9.0-py3-none-any.whl#sha256=af248a825037ef591efbf6ed20cc5faa03d3b47b9e5a2230a529eeee1c1fc3ef
whitenoise==6.9.0
widgetsnbextension @ file:///C:/Users/zizi/Desktop/FILE%20PYTHON/jupyter-1.1.1_%5Bicodeacademy.ir%5D/jupyter-1.1.1_%5Bicodeacademy.ir%5D/widgetsnbextension-4.0.15-py3-none-any.whl#sha256=8156704e4346a571d9ce73b84bee86a29906c9abfd7223b7228a28899ccf3366
