<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/meanmenu.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/range-slider.min.js"></script>
<script src="/static/js/form-validator.min.js"></script>
<script src="/static/js/contact-form-script.js"></script>
<script src="/static/js/ajaxchimp.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/popper.min.js"></script>






