<link rel="stylesheet" href="/static/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/remixicon.css">
<link rel="stylesheet" href="/static/css/meanmenu.min.css">
<link rel="stylesheet" href="/static/css/animate.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/slider.css">
<link rel="stylesheet" href="/static/css/responsive.css">
<link rel="stylesheet" href="/static/css/custom.css">
<link rel="stylesheet" href="/static/css/rtl.css">
<link rel="icon" type="image/png" href="/static/images/favicon.png">