{% extends "shared/_layout.html" %}

{% block content %}

    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li>
                        <a href="{% url 'home_page' %}">خانه</a>
                    </li>
                    <li class="active">ثبت نام</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="user-form-content mt-5 mb-5 p-4 shadow-sm rounded">

                    <h3 class="text-center mb-4">ثبت نام</h3>

                    <form class="user-form" method="post">
                        {% csrf_token %}

                        {{ register_form }}

                        <div class="text-center mt-3">
                            <button class="default-btn w-100" type="submit">
                                ثبت نام
                            </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
